<form method="POST" enctype="multipart/form-data">

    <label>Tên bài học:</label>
    <input type="text" name="title" class="form-control"><br>

    <label>File Word:</label>
    <input type="file" name="word_file" class="form-control"><br>

    <label>Upload PDF (từ máy):</label>
<input type="file" name="pdf_file" class="form-control"><br>

<label>HOẶC dán link PDF (Google Drive):</label>

    <input type="text" name="pdf_link" class="form-control" placeholder="placeholder="https://drive.google.com/file/d/1WW7CuLYlqB0G1ACCByzVbUX2GA_idIL9/preview"><br>
    
    <label>File câu hỏi (CSV):</label>
    <input type="file" name="csv_file" class="form-control"><br>

    <button type="submit" class="btn btn-success">Upload</button>

</form>
